<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRUD - Read</title>
</head>
<body>
	<form method="get" action="readAction">
	<input type="submit" name="submit" value="Gravar?" />
	<table>
		<thead>
		<tr>
			<td>Nome</td>
			<td>E-mail</td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Nome 1</td>
			<td>E-mail 1</td>
		</tr>
		<tr>
			<td>Nome 2</td>
			<td>E-mail 2</td>
		</tr>
		<tr>
			<td>Nome 3</td>
			<td>E-mail 3</td>
		</tr>
		<tr>
			<td>Nome 4</td>
			<td>E-mail 4</td>
		</tr>
		<tr>
			<td>Nome 5</td>
			<td>E-mail 5</td>
		</tr>
		<tr>
			<td>Nome 6</td>
			<td>E-mail 6</td>
		</tr>
		<tr>
			<td>Nome 7</td>
			<td>E-mail 7</td>
		</tr>
		<tr>
			<td>Nome 8</td>
			<td>E-mail 8</td>
		</tr>
		<tr>
			<td>Nome 9</td>
			<td>E-mail 9</td>
		</tr>
		<tr>
			<td>Nome 10</td>
			<td>E-mail 10</td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td>Nome 10</td>
			<td>E-mail 10</td>
		</tr>
		</tfoot>
	</table>
	</form>
</body>
</html>